<div class="header">
    <!-- <div class="title">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="312.069 150.418 41.624 120.466" width="37.62" height="60.1">
                <defs>
                  <path d="M350.69 263.37l-37.62-42.58 37.62-47.52" id="a"/>
                </defs>
                <use xlink:href="#a" fill-opacity="0" stroke="#FFFFFF" stroke-width="3px"/>
              </svg>


        <div>Mr. Smiley</div>

        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="264.853 140.418 65.298 120.466" width="61.3" height="60.1">
            <defs>
              <path d="M293.44 257.88l33.71-43.93L293.44 169" id="c"/>
              <path d="M265.85 257.88L281.18 169" id="e"/>
            </defs>
            
            
            <use xlink:href="#c" fill-opacity="0" stroke="#FFFFFF" stroke-width="3px" stroke-opacity=".98"/>
            
            <use xlink:href="#e" fill-opacity="0" stroke="#FFFFFF"  stroke-width="3px" stroke-opacity=".98"/>
          </svg>
        
    </div> -->
    <div class="navigation-menu">
        <ul class="navigation-list" Style="list-style-type:none">
            <li class="navigation-list-item">
                <a [routerLink]="'/about'"> ABOUT </a>
            </li> 
            <li class="navigation-list-item">
                TECH SKILLS                                                  
            </li>
            <li class="navigation-list-item">
                REAL SKILLS
            </li>
            <li class="navigation-list-item">
                CONTACTS
            </li>

        </ul>

    </div>
</div>