<div class="header">
    <div class="title">
        <svg id="tag-open" viewBox="312.069 150.418 41.624 120.466" >
            <path d="M350.69 263.37l-37.62-42.58 37.62-47.52" class="svg-tag-lines" />
        </svg>
        <a [routerLink]="'/'" routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{exact:true}">Mr. Smiley </a>
        <svg id="tag-closed" viewBox="264.853 140.418 65.298 120.466" >
            <path d="M293.44 257.88l33.71-43.93L293.44 169" class="svg-tag-lines" />
            <path d="M265.85 257.88L281.18 169" class="svg-tag-lines" />
        </svg>
      </div>

    <div class="navigation-menu">
        <ul class="navigation-list" Style="list-style-type:none">
            <li class="navigation-list-item">
                <a [routerLink]="'/about'" routerLinkActive="myActiveClass"> ABOUT </a>
            </li>
            <li class="navigation-list-item">
                TECH SKILLS
            </li>
            <li class="navigation-list-item">
                REAL SKILLS
            </li>
            <li class="navigation-list-item">
                CONTACTS
            </li>

        </ul>

    </div>
</div>