<div class="about-exp">
    <div id="about-exp-text"> Some of the awesome organisations I am proud to have associated with:</div>
    <div class="about-exp-img">
       <div><img id="image1" src="../../assets/CRY.png" alt="CRY"></div>
       <div> <img id="image2" src="../../assets/OYO.png" alt="OYO"></div>
        <div><img id="image3" src="../../assets/TTL.png" alt="Teach To Lead"></div> 
        <div id="order"><img id="image4" src="../../assets/Kongsberg.svg.png" alt="Kongsberg"></div> 
    </div>
</div>
