<div class="about-exp">

<div class="image-content-area">
    <div class="img-wrapper">
        <img src="../../assets/profile-image.jpg" alt="Mr Smiley">
        <h2>Pallab Borah</h2>
        <ul>
            <li><a href="https://github.com/Bhallora" target = "_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/mr._serotonin/" target = "_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/pallab-borah-076320108/" target = "_blank"><i class=" fab fa-linkedin"></i></a></li>
            <li><a href="https://besottedme.wordpress.com/" target = "_blank"><i class=" fab fa-wordpress"></i></a></li>
        </ul>
    </div>
    <div id="content-wrapper" >
        <mat-card >Hello everyone! <br> My name is <strong>Pallab Borah</strong>. 
            Currently, I am working as a <strong> web developer </strong> in <strong>Kongsberg Digital India</strong>. 
            Prior to joining Kongsberg, I worked in the Social Development Sector for a year as a fellow in <strong>Teach For India</strong>. 
            In addition to these, I also have sales & marketing Internship experience with OYO.<br>
            As far my educational qualification is concerned I have completed my BTech in CSE from Tezpur Central University. 
            I love being a techie but at the same time I am quite fascinated by the principles of Design.<br>
            <strong> P.S.</strong>  I am a chai lover and a storyteller.
            So, if you are up for a conversation over a cup of digital chai, please contact me at any of the social media handles attached!</mat-card>
    </div>
</div>

<!-- 
<div class="about-exp"> -->
    <div id="about-exp-text"> Some of the awesome organisations I am proud to have associated with:</div>
    <div class="about-exp-logo">
       <div><img class="logo" src="../../assets/CRY.png" alt="CRY"></div>
       <div> <img class="logo" src="../../assets/OYO.png" alt="OYO"></div>
        <div><img class="logo" src="../../assets/TTL.png" alt="Teach To Lead"></div> 
        <div><img class="logo" src="../../assets/Kongsberg.svg.png" alt="Kongsberg"></div> 
    </div>
<!-- </div> -->

</div>