.animation-list {
    overflow: hidden;
    // position: relative;
    // float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;

    .list-items {
        font-family: "Amatic SC", cursive;
        color: rgb(100, 205, 247);
        font-weight: bold;
        font-size: 56px;
        padding: 0 -10px;
        height: 45px;
        margin-bottom: 45px;
        display: block;
    }
}


// .flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    padding-left: 10px;
}

// .flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

// @keyframes flip2 {
//     0% { margin-top: -180px; }
//     5% { margin-top: -90px;  }
//     50% { margin-top: -90px; }
//     55% { margin-top: 0px; }
//     99.99% { margin-top: 0px; }
//     100% { margin-top: -270px; }
// }

@keyframes flip3 {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

// @keyframes flip4 {
//     0% { margin-top: -360px; }
//     5% { margin-top: -270px; }
//     25% { margin-top: -270px; }
//     30% { margin-top: -180px; }
//     50% { margin-top: -180px; }
//     55% { margin-top: -90px; }
//     75% { margin-top: -90px; }
//     80% { margin-top: 0px; }
//     99.99% { margin-top: 0px; }
//     100% { margin-top: -270px; }
// }


.wordCarousel {
    width: 100%;
    height: 100%;
    margin-top: 110px;
    padding: 50px 0px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

#word {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 56px;
}


@media only screen and (max-width: 1300px) {
    .animation-list {
        height: 50px;

        .list-items {
            font-size: 42px;
        }
    }

    #word {
        font-size: 43px;

    }
    

}

@media only screen and (max-width: 1024px) {
    .animation-list {
        height: 40px;

        .list-items {
            font-size: 34px;
        }
    }

    #word {
        font-size: 35px;

    }
    .wordCarousel {
        margin-top:170px;
    }
}

@media only screen and (max-width: 820px) {

    .animation-list {
        height: 30px;

        .list-items {
            font-size: 24px;
        }
    }

    #word {
        font-size: 25px;

    }
    .wordCarousel {
        margin-top:170px;
    }


}

@media only screen and (max-width: 580px) {
    .animation-list {
        height: 20px;

        .list-items {
            font-size: 14px;
        }
    }

    #word {
        font-size: 15px;

    }
    .wordCarousel {
        margin-top:150px;
    }

}

@media only screen and (max-width: 480px) {
    .animation-list {
        height: 18px;

        .list-items {
            font-size: 12px;
        }
    }

    #word {
        font-size: 13px;

    }
    .wordCarousel {
        margin-top:100px;
    }

}